.tabela {
  width: 40%;
  border: 1px solid #dfdddd;
  border-radius: 4px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  font-family: Arial, sans-serif;
  margin: 40px;
  padding: 5px;
}

.cenario {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 45px;
  border-bottom: 1px solid #ccc;
  background-color: #fafafa;
  font-weight: bold;
  font-size: 20px;
  color: black;
}

.linha {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 45px;
  border-bottom: 1px solid #ccc;
  background-color: #fafafa;
  font-weight: bold;
  font-size: 20px;
  color: black;
}

.linha.fundo {
  background-color: #fafafa;
}

.linha.depois-monitoramento {
  border-top: 2px;
  border-bottom: none;
}

#colunaSituacao {
  position: initial;
  padding: 8px 12px;
}

#colunaPerda {
  margin-left: 140px;
  padding: 8px 12px;
}

#colunaValor {
  margin-left: 127px;
  padding: 8px 12px;
}

#colunaFatorPerda {
  font-size: 15px;
  font-weight: lighter;
  margin-left: 13px;
}

#colunaFatorRecuperado {
  font-size: 15px;
  font-weight: lighter;
  margin-left: 13px;
}

#colunaFatorFinal {
  font-size: 15px;
  font-weight: lighter;
  margin-left: 13px;
}

#colunaPorcentagem {
  font-size: 15px;
  font-weight: lighter;
  margin-left: 148px;
}

#colunaValorPerdido {
  font-size: 15px;
  font-weight: lighter;
  margin-left: 200px;
}

#colunaPercentualRecuperado {
  font-size: 15px;
  font-weight: lighter;
  margin-left: 109px;
}

#colunaValorRecuperado {
  font-size: 15px;
  font-weight: lighter;
  margin-left: 226px;
}

#colunaPercentualFinal {
  font-size: 15px;
  font-weight: lighter;
  margin-left: 130px;
}

#colunaValorFinal {
  font-size: 15px;
  font-weight: lighter;
  margin-left: 200px;
}

.divBotao {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.divBotao a{
  text-decoration: none;
}

#button-cadastre {
  display: flex;
  width: 163px;
  height: 40px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #fff;
  background-color: #70160E;
  border: 2px solid #70160E;
  border-radius: 6px;
  padding: 6px 15px;
  font-weight: 600;
  transition: 0.3s ease;
  margin-top: 25px;
  text-align: center;
}

#button-cadastre:hover {
  color: #70160E;
  background-color: #fff;
}

#grafico {
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 1px solid #dfdddd;
  border-radius: 4px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  background-color: #fafafa;
  width: 600px;
  overflow: hidden;
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 20px;
  margin: 10px;
  padding: 25px;
}

#grafico b {
  margin-bottom: 8px;
}

.chart-card .card-body {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 0 0 0;
}

.chart-card canvas {
    width: 100% !important;
    height: 340px !important;
}

.conteudo h1{
  display: flex;
  margin: 0;
  margin-top: 40px;
}

.card-header h3 {
  display: flex;
  justify-content: center;
  font-weight: bold;
}