* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", system-ui, Segoe UI, Roboto, Arial;
    background-color: #FFF6F3;
}

.content {
    width: 100vw;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1000px;
    margin: 0 auto;
}

.titulo {
    font-size: clamp(1.5rem, 2.5vw, 2rem);
    font-weight: 600;
    margin-bottom: clamp(2rem, 5vw, 5rem);
    color: #0D0D0D;
}

.input-group {
    width: min(90%, 450px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: clamp(1rem, 2vw, 1.875rem);
}

.input-box {
    width: 100%;
    position: relative;
}

.input-box i {
    position: absolute;
    left: 0.9rem;
    top: 50%;
    transform: translateY(-50%);
    color: #BE3C30;
    pointer-events: none;
}

.input-box input, select {
    width: 100%;
    padding: clamp(0.6rem, 1.5vw, 0.8rem) clamp(1rem, 2vw, 1.2rem);
    font-size: clamp(0.9rem, 1vw, 1rem);
    border: 1px solid #CCCACA;
    border-radius: 6px;
    background-color: #FFFDFD;
    padding-left: 2.5rem;
    transition: border 0.2s ease, box-shadow 0.2s ease;
}

.input-box input::placeholder {
    color: #999797;
}

.input-box input:hover, select:hover {
    border: 1px solid #F19890;
    box-shadow: 0px 0px 2px #BE3C30;
}

.input-box input:focus-visible, select:focus-visible {
    outline: 1px solid #BE3C30;
    border: 1px solid #F19890;
}

.input-box select {
    appearance: none;

    padding-right: 2.5rem;
    
    background-image: url(./../assets/icones/painel-administrativo/setinha-icon.svg);
    background-repeat: no-repeat;
    background-position: right 1rem center;
    background-size: 1.5rem auto;
    border: 1px solid #CCCACA;
    border-radius: 6px;
    font-size: clamp(0.9rem, 1vw, 1rem);
}

.input-box select {
    color: #999797;
}

.input-box select:valid {
    color: #0D0D0D;
}

.buttons {
    width: 100%;
    display: flex;
    flex-wrap: wrap-reverse;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}

.btn {
    flex: 1;
    min-width: 130px;
    padding: clamp(0.7rem, 1.5vw, 0.8rem);
    font-size: clamp(0.9rem, 1vw, 1rem);
    cursor: pointer;
    border: none;
    border-radius: 6px;
    font-weight: 600;
    transition: background 0.3s ease;
}

.btn:focus-visible {
    outline: 1px solid #BE3C30; 
}

.btn-principal {
    background-color: #70160E;
    color: #FFFCFC;
}

.btn-principal:hover {
    background-color: #9b4641;
}

.btn-voltar {
    background-color: #A6A4A4;
    color: #FFFCFC;
    border: none;
    border-radius: 6px;
}

.btn-voltar:hover {
    background-color: #BFBDBD;
}

@media (max-width: 400px) {
    .buttons {
        flex-direction: column;
        align-items: stretch;
    }
}